<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devsss.aoeba.service.mapper.NoteTagDzMapper">

    <resultMap id="BaseResultMap" type="com.devsss.aoeba.service.domain.NoteTagDz">
        <id property="noteId" column="note_id" jdbcType="VARCHAR"/>
        <id property="tagName" column="tag_name" jdbcType="VARCHAR"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
        <result property="deletedAt" column="deleted_at" jdbcType="TIMESTAMP"/>
        <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>
    <insert id="saveBatchByNative">
        INSERT INTO note_tag_dz(note_id, tag_name) VALUES
        <foreach collection="noteTagDzList" separator="," item="item">
            (#{item.noteId},#{item.tagName})
        </foreach>
    </insert>
    <delete id="deleteBatchIds">
        delete
        from note_tag_dz
        where note_id in (
        <foreach collection="delList" separator="," item="item">
            #{item.noteId}
        </foreach>
        )
    </delete>
    <delete id="deleteById">
        delete
        from note_tag_dz
        where note_id = #{id}
    </delete>
    <select id="selectListByNoteId" resultMap="BaseResultMap">
        select *
        from note_tag_dz
        where note_id = #{id}
    </select>
    <select id="countTag" resultType="java.util.Map">
        select tag_name name, count(1) size
        from note_tag_dz
        group by tag_name
    </select>

</mapper>
